.App {
  text-align: center;
  background: #F5F5F5;
  height: 300px;
  padding: 20px;
}

input {
  position: relative;
  font-family: 'Inter';
  width: 145px;
  height: 59px;
  border-radius: 10px;
  font-size: 32px;
  font-weight: 400;
  padding: 15px 20px 15px 20px;
  border: none;
  text-align: center;
  outline:none;
}

label {
  margin:20px 0;
  position:relative;
  display:inline-block;
}
  
span {
  position:absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
  transition: 0.2s;
  transition-timing-function: ease;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  opacity:0.5;
}

input:focus + span, input:not(:placeholder-shown) + span {
  transform: scale(0.85) translateY(-360%) translateX(-80px);
  z-index: 2;
}